@import url("https://fonts.googleapis.com/css?family=Inter:400,700&display=swap");
:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;

  margin: 0;
  font-family: "Inter", sans-serif;
}

.content-container {
  display: flex;
  &-right {
    padding-left: 10rem;
    width: 50%;
  }
  &-left {
    padding-top: 10rem;
    color: white;
    padding-left: 3rem;
    width: 35%;
    height: 100vh;
    background-color: #d81b48;
  }
}

.inc-exp-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inc-exp-container > div {
  color: black;
  text-transform: uppercase;
  width: 70%;
  padding: 0.3rem 1.3rem;
  margin: 0.5rem 0;
  display: flex;
  font-size: 1rem;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  h4 {
    font-weight: 400;
  }
}

.money {
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type="text"],
input[type="number"] {
  border: 1px solid #dedede;
  border-radius: 2px;
  font-family: inherit;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  font-family: inherit;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.login {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  input {
    font-family: inherit;
    width: 15rem;
    color: black;
    padding: 0.4rem 0.3rem;
  }
  label {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }
}

.navbar {
  padding: 1rem 3rem;
  background-color: black;
  color: white;
}

.signuplink {
  font-size: 0.7rem;
  color: black;
}
.login-btn {
  padding: 1rem 3rem;
  margin: 2rem 0;
  color: white;
  background-color: black;
}
.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.list li:hover .delete-btn {
  opacity: 1;
}
