.list {
  font-size: 1.1rem;
  width: 90%;
  li {
    padding: 1rem 1.5rem;
  }
}
.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 10px;
  line-height: 20px;
  padding: 15px 10px;
  position: absolute;
  top: 50%;
  text-transform: uppercase;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}
